* {
  margin: 0;
  padding: 0;
}
html * {
  font-family: 'Nunito', sans-serif;
}

input {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #a0bbbf;
  color: white;
  line-height: 1.6;
}

.data-display {
  font-family: 'Droid Sans', sans-serif;
}

.headerBar {
  padding: 10px;
  background: linear-gradient(#a0bbbf, #47787e); /* primary1, primary2 */
  border-radius: 1px;
  box-shadow: 2px 3px 13px #174b53; /* primary4 */
  margin-bottom: 5px;
}

.borderedContainer {
  padding: 8px;
  background: #6a9197; /* Primary 2 */
  border-radius: 1px;
}

.borderedContainer h1,
.borderedContainer h2,
.borderedContainer h3 {
  padding: 10px;
  background: linear-gradient(#a0bbbf, #47787e); /* primary1 -> primary2 */
  border-radius: 1px;
}

.competitionListRow {
  background-color: #ffe9d5;
  color: #ab8a44;
}

.competitionListRow:hover {
  background-color: white; /* Complementary 1*/
  cursor: pointer;
}

label {
  font-size: 0.8em;
  padding-left: 3px;
  display: inline-block;
}

a {
  color: #fff2d5;/* complementary 4 */
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  /*text-decoration: underline;*/
  border-bottom: 4px solid white;
}

th {
  padding: 4px;
  border-radius: 1px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  background-color: #a0bbbf;
  color: white;
}

td {
  margin: 10px;
  padding: 5px;
  border-radius: 1px;
  font-family: "Droid Sans", sans-serif;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 3px;
  margin: 0 0 0 3px;
  background: #a0bbbf;
  color: white;
  border: none;
  border-radius: 1px;
  font-size: 1.1em;
}

input:focus {
  border: 1px solid #f6dfac; /* secondary2 */
  outline: none;
}

button {
  background: yellowgreen;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 6px;
  margin: 5px 3px 5px 3px;
  outline: none;
  box-shadow: 1px 2px 13px #2b6169; /* primary3 */
  -webkit-box-shadow: 1px 2px 13px #2b6169;
  -moz-box-shadow: 1px 2px 13px #2b6169;
}

button[type="submit"] {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px;
}

button:hover {
     background: #50c05a; /* secondary2 */
}

button:active {
     background: white; /* secondary3 */
     color: black;
     transform: translate(2px, 2px);
     box-shadow: -1px -2px 13px #2b6169; /* primary3 */
     -webkit-box-shadow: -1px -2px 13px #2b6169;
     -moz-box-shadow: -1px -2px 13px #2b6169;
}

.greenButton {
  border-radius: 3px;
  background: #00a050;
  color: white;
}

.greenButton:hover {
  background: #50c05a;
  color: black;
}
